.DS_Store
.idea/
.vscode/
.venv/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
build/
dist/
.ruff_cache/
.coverage
/test-results/

/data/
/cache/
/checkpoints/
/logs/
/outputs/
/output/
/train_output/
/plench/data/amazon_wilds/
/plench/data/campo_verde/
/plench/data/cct20/
/plench/data/fed_isic2019/
/plench/data/ku_optofil_pbc/
/plench/data/lem/
/plench/data/ref2021_uoa11/
/plench/logs/
/plench/outputs/
*.pt
*.pth
*.ckpt
*.npz
*.npy
*.jsonl

!plench/data_dir/cluster_maps/*.npz
